table {
    width: 400px;
}

table tbody {
    /* Change le display par default: display: table-cell */
    display: block;
    overflow: auto;
    height: 100px;
}

table thead tr, table tfoot tr {
    /* Change le display par default: display: table-cell */
    display: block;
}

table thead, table tfoot {
    background: black;
    color: #fff;
}

table th, table td {
    /* Puisque le tableau a maintenant un agissement block il est nécessaire de prendre en charge l'alignement et le padding */
    padding: 5px;
    text-align: left;
    width: 200px;
}