body {
    background-color: black;
    color: white;
}

.conteneur {
    width: 80%;
    margin: 0 auto;
    background-image: url(../image/eau.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header, footer {
    background-image: url(../image/nuage.jpg);
}