div#collection p:last-child {
    background-color: blue;
    color: white;
}

:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}

/* les 2 rêgles suivantes s'applique a la même balise donc l'ordre des déclaration est importante */

a:link {
    background-color: yellow;
}

a:hover {
    color: white;
    background-color: blue;
}