h1 {
    background-color: yellow;
    text-align: center;
}

h1+h2 {
    background-color: orange;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

body>p {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}