/* Utilisation d'une police de charactère de google */

p.fontgoogle {
    font-family: 'Black And White Picture', sans-serif;
}

/*
	Utilisation d'une police qui se trouve dans un sous répertoire.
	https://designmodo.com/free-fonts-fontface/
*/

@font-face {
    font-family: ralewaythin;
    src: url(font/raleway_thin-webfont.woff);
}

p.fontface {
    font-family: ralewaythin;
}