div {
    border: 3px solid black;
    padding: 5px;
    margin: 10px;
}

div#avec_id {
    background-color: red;
}

div.avec_class {
    background-color: blue;
}

/* S'applique aussi sur (un p dans un div, dans un second div) comme la règle div div p qui est plus précise */

div>p {
    background-color: green;
}

div#container_id>p {
    background-color: yellow;
}

/* Cascade la règle précédente div>p */

div div p {
    background-color: grey;
}

/* Le premier p qui suit un div */

div+p {
    color: yellow;
    text-align: center;
    background: blue;
}

/* Tout les div suivant un p */

p~div {
    color: blue;
    background: yellow;
}

div[data-a] {
    color: white;
    background-color: black;
}

div[data-a=valeur_2] {
    color: red;
    background-color: white;
}