body {
    background-color: lightgray;
}

h1 {
    color: white;
    border-top:  10px solid green;
    text-align: center;
    background-color: red;
}

div#sommaire{
    width: 50%;
    border: 5px solid green;
    background-color: white;
}

div + p {
    font-style: italic;
}

h2 {
    width: 25%;
    background-color: white;
    border-left: 3px solid red;
    border-top: 1px solid red;
}